/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* universal selector */

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/* common styles */

.text-primary {
    color: #FD6E0A;
}
.dark-2 {
    color: #474747;
}
.btn-primary {
    background-color: #FD6E0A;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}

/* Nav Styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
}